
<div class="p-6 card bordered">
	<div class="form-control">
	  <label class="cursor-pointer label">
		<div >
			<script>
				console.log("window@toggle", themify)
			</script>

			{{ inspect(window) }}

			<input type="checkbox"  class="toggle" id="toggle">


		  <span class="toggle-mark bg-teal-500"></span>
		</div>
	  </label>
	</div>
  </div>
